
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 80px; /* espaço para navbar fixa */
  background-color: #07334c;
}

/* CONTAINER PADRÃO */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* NAVBAR FLUTUANTE */
.navbar {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background: transparent; /* remove fundo cheio */
  border: none;
}

/* CAIXA CENTRAL */
.nav-container {
  background: #031e2e;
  padding: 12px 25px;
  border-radius: 50px;
  width: 90%;
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 10px 30px rgba(4, 40, 91, 0.241);
}

/* LOGO */
.logo h2 {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo i {
  color: #00c3ff; /* cor do ícone */
  font-size: 18px;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;

  width: 100%;
  height: 2px;

  background: rgba(56, 102, 137, 0.616);
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00c3ff;
}

/* REDES SOCIAIS */
.social {
  display: flex;
  gap: 10px;
}

.social a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: 0.3s;
}

.social a:hover {
  color: #00c3ff;
}

/* MENU MOBILE */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #fff;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* DUAS COLUNAS */
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* TEXTO */
.hero-text {
  max-width: 500px;
}

.hero-text .tag {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #00c3ff;
  border-radius: 20px;
  font-size: 12px;
  color: #00c3ff;
  margin-bottom: 20px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
  color: #fff;
}

.hero-text h1 span {
  color: #00c3ff;
}

.hero-text p {
  margin-top: 20px;
  color: #ccc;
}

/* BOTÃO */
.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 25px;
  background: #00c3ff;
  color: #07334c;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

/* IMAGEM */
.hero-image img {
  width: 320px; /* DIMINUIU AQUI */
  height: auto;

  border-radius: 30px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;

  box-shadow: 0 25px 60px rgba(0,0,0,0.4);
}
/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .nav-container {
    position: relative;
    border-radius: 20px;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 220px;
    background: #07334c;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;
    display: none;
  }

  .nav-links li {
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-links a {
    display: block;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .social {
    display: none;
  }
}